<a href="https://colab.research.google.com/github/chandra303/Bharat-Intern/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install tflearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tflearn
  Downloading tflearn-0.5.0.tar.gz (107 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.3/107.3 kB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tflearn) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from tflearn) (1.16.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from tflearn) (8.4.0)
Building wheels for collected packages: tflearn
  Building wheel for tflearn (setup.py) ... done
  Created wheel for tflearn: filename=tflearn-0.5.0-py3-none-any.whl size=127283 sha256=ed25196eb98f5acd65f45657235a4d32c37f42765de93c2038e31ac139c83ad0
  Stored in directory: /root/.cache/pip/wheels/55/fb/7b/e06204a0ceefa45443930b9a250cb5ebe31def0e4e8245a465
Successfully built tflearn
Installing collected packages: tflearn
Successfully installed tflearn-0.5.0

In [ ]:
import numpy as np
import pandas as pd
import tflearn

In [ ]:
from tflearn.datasets import titanic
dataset = titanic.download_dataset('titanic_dataset.csv')

Downloading Titanic dataset...
Succesfully downloaded titanic_dataset.csv 82865 bytes.

In [ ]:
dataset

'./titanic_dataset.csv'

In [ ]:
df= pd.read_csv(dataset)
df.shape

(1309, 9)

In [ ]:
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500
2,0,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500
3,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500
4,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500

In [ ]:
# if survived column is 0 then person is dead and if the person is 1 then he survive

# loading csv file

In [ ]:
from tflearn.data_utils import load_csv
data, labels = load_csv(dataset, target_column=0, categorical_labels= True, n_classes=2)

# data preprocessing - coverting sex columns into binary numbers

In [ ]:
# 1 means female, 0 means male

In [ ]:
def preprocessing(data, discard_cols):
  #sorting columns in descending order
  for id in sorted(discard_cols,reverse =True):
    [r. pop(id) for r in data]
  for i in range(len(data)):
    #converting 'sex' cloumn into float
    data[i][1] = 1. if data[i][1] == 'female' else 0.
  return np.array(data, dtype=np.float32)
discard_cols =[1,6] #deleting "name " and "ticket" columns
df = preprocessing (data,discard_cols)

# neural network classification

In [ ]:
net = tflearn.input_data(shape=[None,6])
net = tflearn.fully_connected(net,32)
net = tflearn.fully_connected(net,32)
net = tflearn.fully_connected(net,2,activation='softmax')
net = tflearn.regression(net)

WARNING:tensorflow:From /usr/local/lib/python3.10/dist-packages/tflearn/initializations.py:164: calling TruncatedNormal.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

# model training

In [ ]:
model = tflearn.DNN(net)
model.fit(data,labels, n_epoch=10 , batch_size=16, show_metric=True)

Training Step: 819  | total loss: 0.51340 | time: 0.569s
| Adam | epoch: 010 | loss: 0.51340 - acc: 0.7629 -- iter: 1296/1309
Training Step: 820  | total loss: 0.51340 | time: 0.574s
| Adam | epoch: 010 | loss: 0.51340 - acc: 0.7629 -- iter: 1309/1309
--

# testing model

In [ ]:
## loading the data
michale = [3, 'michale', 'male', 19, 0, 0, 'N/A', 70.0000]
julie = [4, 'julie', 'female', 17, 1, 2, 'N/A', 10.0000]
# Preprocess data
michale, julie = preprocessing([michale, julie], discard_cols)
# Predict surviving chances (class 1 results)
pred = model.predict([michale, julie])
print("michale Surviving Rate:", pred[0][1])
print("julie Surviving Rate:", pred[1][1])

michale Surviving Rate: 0.28445187
julie Surviving Rate: 0.40260333

*Form the above cell we can predict the any passenger's surviving rate from users's end who boarded titanic based on their gender, age, status*

In [ ]:
thank you